services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${DOCKER_USERNAME}/inventory-frontend:latest
    container_name: inventory-frontend
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NEXT_PUBLIC_API_BASE_URL=${NEXT_PUBLIC_API_BASE_URL}
    ports:
      - "3000:3000"
